@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply  flex justify-center min-h-screen;

} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "outfit";
}

body {
  padding-bottom: 24px;
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-height: 100vh;
}
